.nueva-empresa {
  width: 100vh;
  padding: 30px;
}

h1 {
  margin-top: 0px;
}

form {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  label {
    font-size: 20px;
    color: gray;
  }
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#ncomentarios {
  height: 150px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
